body {
    background-color: rgb(55, 68, 55);
    color: rgb(162, 185, 153);
}

button {
    position: relative;
    background-color: rgb(55, 68, 55);
    color: rgb(162, 185, 153);
    background-color: rgb(162, 185, 153);
    color: rgb(55, 68, 55);
    border-style: double;
    border-color: rgb(55, 68, 55);
    border-width: 0.25cm;
    border-radius: 12px;
    cursor: pointer;
}

.messagebox {
    position: absolute;
    border-color: aliceblue;
    font-size: large;
    margin-left: 17%;
    top:93%;
    background-color: rgb(162, 185, 153);
    color: rgb(55, 68, 55);
    border-style: double;
    border-color: rgb(55, 68, 55);
    border-width: 0.5cm;
    border-radius: 24px;
}