<h1 align="center" id="chatH1">Leavescord</h1>
<div id="chatDiv">
    <% for(i = 0; i < messages.length; i++) { %>
    <p> <img src="/images/default-pfp.png" width="30px" id="chatPFP"> <%= messages[i].username + ": " + messages[i].message %> </p>
    <% } %>
</div>
<form name="chatForm" method="post">
    <input type="text" name="message" id="chatInput" class="messageBox">
    <input type="submit" value="Send" id="chatInput" class="backendSubmit">
</form>