<script id="chat-script" src="/js/socket.js" defer></script>
<h1 align="center" id="chatH1">Leavescord</h1>
<div id="chatDiv" class="chat-container">
</div>
<form name="chatForm">
    <input type="text" name="message" id="chatInput" class="messageBox" autocomplete="off">
    <input type="submit" name="send" value="Send" id="chatInput" class="backendSubmit">
</form>