<button type="button" onclick="location.href='user/login.ejs'">Sign out</button>
<h1 align="center">Discord z wishe</h1>
<div>
    <% for(i = 0; i < messages.length; i++) { %>
    <p> <%= messages[i].username + ": " + messages[i].message %> </p>
    <% } %>
</div>
<form name="chatForm" method="post">
    <input type="text" name="message" id="chat-form-text" class="messageBox">
    <input type="submit" value="Send" class="backendSubmit">
</form>
