<h1 align="center">Leafscord</h1>
<div class="chatDiv">
    <% for(i = 0; i < messages.length; i++) { %>
    <p> <%= messages[i].username + ": " + messages[i].message %> </p>
    <% } %>
</div>
<form name="chatForm" method="post">
    <input type="text" name="message" id="chat-form-text" class="messageBox">
    <input type="submit" value="Send" class="backendSubmit">
</form>
