<form action="" method="post">
	<input type="number" name="answerID" placeholder="0" />
	<input type="submit" value="submit" />
	<h5><%= q %></h5>
	<% if(a1 != null)  { %> <h5> <%= a1 %> </h5> <% } %> 
	<% if(a2 != null)  { %> <h5> <%= a2 %> </h5> <% } %> 
	<% if(a3 != null)  { %> <h5> <%= a3 %> </h5> <% } %> 
</form>