<form action="" method="post">
	<input type="number" name="answerID" placeholder="0" />
	<input type="submit" value="submit" />
	<h5><%= q %></h5>
	<% if(a1 != null)  { %> <h5> <%= a1.answer + " id: " + a1.id %> </h5> <% } %> 
	<% if(a2 != null)  { %> <h5> <%= a2.answer + " id: " + a2.id %> </h5> <% } %> 
	<% if(a3 != null)  { %> <h5> <%= a3.answer + " id: " + a3.id %> </h5> <% } %> 
</form>