<div id="settingsDiv">
	<h1 id="settingsH1">Settings</h1>
	<div id="settingsDivInsideDiv">
		<h3>Change your username</h3>
		<form action="/user/edit/changeUsername" method="post">
			<input type="text" name="username" placeholder="username" id="settingsInput"/>
			<input type="submit" id="settingsInput"/>
		</form>

		<h3>Change your profile picture (.jpeg, .png)</h3>
		<form action="/user/edit/changeProfilePic" method="post" enctype="multipart/form-data">
			<input type="file" name="profilePicture" id="settingsInput" accept="image/png, image/jpeg" />
			<input type="submit" id="settingsInput"/>
		</form>

		<h3>Change your theme</h3>
		<form action="/user/edit/changeTheme" method="post">
			<input type="radio" name="theme" id="settingsInput" checked="true">Autumn
			<input type="radio" name="theme" id="settingsInput">Jungle
			<input type="radio" name="theme" id="settingsInput">Snowflake
			<input type="radio" name="theme" id="settingsInput">Tribal
			<input type="submit" id="settingsInput"/>
		</form>
		</div>
</div>	