<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Discord z wishe</title>
        <link rel="stylesheet" href="style-login.css">
        <link rel="icon" href="leaf.ico">        
    </head>
	<body>
		<h1>Login</h1>
		<div>
			<form action="" method="post">
				<input type="text" name="username" placeholder="Username" id="username-collumn"/>
				<input type="password" name="password" placeholder="Password" id="password-collumn"/>
				<input type="submit" value="Login" id="login-collumn"/>
				<button type="button" onclick="location.href='register.ejs'" id="register-button">Register</button>
			</form>
		</div>
	</body>
</html>