<h1>Login</h1>
<div>
	<form action="" method="post">
		<input type="text" name="username" placeholder="Username" id="username-collumn"/>
		<input type="password" name="password" placeholder="Password" id="password-collumn"/>
		<input type="submit" value="Login" id="login-collumn"/>
		<a href="/user/register" type="button" id="register-button">Register</a>
	</form>
</div>
