<h1 id="loginH1">Login</h1>
<div class="loginDiv">
	<form id="loginForm" action="" method="post">
		<input autocomplete="off" id="loginInput" class="loginInputUsername" type="text" name="username" placeholder="Username"/>
		<input autocomplete="off" id="loginInput" type="password" name="password" placeholder="Password"/>
		<input id="loginInput" type="submit" value="Login"/>
		<a href="/user/register" type="button" id="loginA">Register</a>
	</form>
</div>