<h1 id="loginH1">Login</h1>
<div class="loginDiv">
	<form action="" method="post">
		<input type="text" name="username" placeholder="Username" id="loginInput"/>
		<input type="password" name="password" placeholder="Password" id="loginInput"/>
		<input type="submit" value="Login" id="login-collumn"/>
		<a href="/user/register" type="button" id="loginButton">Register</a>
	</form>
</div>
