<h1 id="registerH1">Register</h1>
<div id="registerDiv">
	<form id="registerForm" action="" method="post">
		<input id="registerInput" name="username" placeholder="Username" />
		<input id="registerInput" type="password" name="password" placeholder="Password" />
		<input id="registerInput" type="submit" value="Register" />
	</form>
</div>