<h1>Register</h1>
<div>
	<form action="" method="post">
		<input type="text" name="username" placeholder="Username" />
		<input type="password" name="password" placeholder="Password" />
		<input type="submit" value="Register" />
	</form>
</div>