body {
    background-image: url("../images/snowflakes.jpg");
    font-family: 'Grandstander', cursive;
}

#layoutA {
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 10px;
    border-radius: 12px;
    cursor: pointer;
}

#loginA {
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    font-size: large;
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 20px;
    border-radius: 24px;
    font-family: 'Grandstander', cursive;
    cursor: pointer;
}

#chatH1 {
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 0.5cm;
    width: 8cm;
    border-radius: 24px; 
    margin-left: 41%;
    padding-bottom: 1px;
}

#storyH1 {
    text-align: center;
}

#loginH1 {
    position: relative;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    font-size: 80px;
    text-align: center;
    border-style: double;
    border-color: rgb(65, 173, 177);    
    width: 400px;
    border-radius: 24px;
    border-width: 18px; 
    margin-left: 38%;
    margin-top: 16%;
}

#registerH1 {
    position: relative;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    font-size: 80px;
    text-align: center;
    border-style: double;
    border-color: rgb(65, 173, 177);    
    width: 400px;
    border-radius: 24px;
    border-width: 18px; 
    margin-left: 38%;
    margin-top: 16%;
}

#settingsH1 {
    text-align: center;
    font-size: 35px;
}

#chatDiv{
    position: fixed;
    width: 31.15cm;
    height: 17cm;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    margin-left: 17.25%;
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 20px;
    border-radius: 24px;
}

#listDiv{
    position: fixed;
    width: 250px;
    height: 17cm;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    margin-left: 38%;
    margin-top: 7%;
    border-style: double;
    border-color: rgb(63, 51, 0);
    border-width: 20px;
    border-radius: 24px;
}

#profileDiv{
    position: fixed;
    width: 400px;
    height: 17cm;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    margin-left: 35%;
    margin-top: 7%;
    text-align: center;
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 20px;
    border-radius: 24px;
}

#settingsDiv{   
    position: fixed;
    width: 50%;
    height: 17cm;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    margin-left: 24%;
    margin-top: 7%;
    text-align: left;
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 20px;
    border-radius: 24px;
}

#settingsDivInsideDiv{
    margin: 15px;
}

#storyDiv{
    position: fixed;
    width: 31.15cm;
    height: 5cm;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    margin-left: 17.25%;
    margin-top: 15%;
    border-style: double;
    border-color: rgb(63, 51, 0);
    border-width: 20px;
    border-radius: 24px;
}

.backendSubmit{
    margin-left: 75%;
}

.messageBox{
    margin-left: 20%;
    padding-right: 39%;
}

#loginForm {
    margin-left: 28%;
}

#registerForm {
    margin-left: 31.5%;
}

#chatInput {
    position: absolute;
    font-size: large;
    top:90%;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 20px;
    border-radius: 24px;
    
}

#loginInput {
    position: relative;
    font-size: large;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 20px;
    border-radius: 24px;
    font-family: 'Grandstander', cursive;
}

#registerInput {
    position: relative;
    font-size: large;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 20px;
    border-radius: 24px;
    font-family: 'Grandstander', cursive;
}

#settingsInput {
    position: relative;
    font-size: large;
    background-color: rgb(199, 248, 246);
    color: rgb(65, 173, 177);
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 10px;
    border-radius: 12px;
    font-family: 'Grandstander', cursive;
}

#storyInput {
    position: relative;
    font-size: large;
    background-color: rgb(199, 248, 246);
    color: rgb(199, 248, 246);
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 5px;
    border-radius: 5px;
    width: 35px;
    font-family: 'Grandstander', cursive;
}

#chatPFP{
    width: 30px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 5px;
}

#profilePFP{
    width: 275px;
    border-radius: 100%;
    margin-top: 10px;
    border-style: double;
    border-color: rgb(65, 173, 177);
    border-width: 10px;
}