#error {
	background-color: red;
	border-radius: 10px;
	text-align: center;
}

.messageChat {
    display: table;
    background-color:rgb(255, 255, 255);
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-color: black;
    border-radius: 20px;
}

.messageChat::target-text {
    margin-bottom: 5cm;
}

@media (max-width: 767px) {
    #top-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 2px;
        border-style: double;
        border-width: 2px;
    }
    #layoutA {
        border-style: double;
        border-width: 1px;
        cursor: pointer;
        font-size: small;
        padding: 2px 2px;
    }
    #loginA {
        font-size: large;
        border-style: solid;
        border-width: 2px;
        border-radius: 2px;
        cursor: pointer;
    }
    #chatH1 {
        border-style: double;
        border-width: 0.5cm;
        width: 8cm;
        border-radius: 24px; 
        margin-left: 5%;
        padding-bottom: 1px;
    }
    #storyH1 {
        text-align: center;
    }
    #loginH1 {
        position: relative;
        font-size: 25px;
        text-align: center;
        border-style: double;
        width:  200px;
        border-radius: 24px;
        border-width: 18px; 
        margin-left: 17%;
        margin-top: 5%;
    }
    #registerH1 {
        position: relative;
        font-size: 25px;
        text-align: center;
        border-style: double;   
        width: 200px;
        border-radius: 24px;
        border-width: 18px; 
        margin-left: 17%;
        margin-top: 5%;
    }
    #settingsH1 {
        text-align: center;
        font-size: 40px;
    }
    #chatDiv{
        position: relative;
        width: 8cm;
        height: 15cm;
        margin-left: 2%;
        border-style: double;
        border-color: rgb(65, 173, 177);
        border-width: 20px;
        border-radius: 24px;
    }
    #listDiv{
        position: relative;
        width: 250px;
        height: 17cm;
        margin-left: 10%;
        margin-top: 7%;
        border-style: double;
        border-color: rgb(63, 51, 0);
        border-width: 20px;
        border-radius: 24px;
    }
    #profileDiv{
        position: fixed;
        width: 300px;
        height: 17cm;
        margin-left: 5%;
        margin-top: 7%;
        text-align: center;
        border-style: double;
        border-color: rgb(65, 173, 177);
        border-width: 20px;
        border-radius: 24px;
    }
    #settingsDiv{   
        position: fixed;
        width: 75%;
        height: 17cm;
        margin-left: 5%;
        margin-top: 7%;
        text-align: left;
        border-style: double;
        border-color: rgb(65, 173, 177);
        border-width: 20px;
        border-radius: 24px;
    }
    #settingsDivInsideDiv{
        margin: 25px;
    }
    #storyDiv{
        position: relative;
        width: 8cm;
        height: 17cm;
        margin-left: 5%;
        margin-top: 15%;
        border-style: double;
        border-width: 20px;
        border-radius: 24px;
    }
    .backendSubmit{
        margin-top: 10%;
    }
    
    .messageBox{
        margin-left: 16%;
        padding-right: 20%;
        margin-top: 10%;
    }
    
    #loginForm {
        margin-left: 18%;
    }
    
    #registerForm {
        margin-left: 18%;
    }

    #chatInput {
        position: absolute;
        font-size: large;
        top:90%;
        border-style: solid;
        border-width: 3px;
        border-radius: 14px;
    }

    #loginInput {
        position: relative;
        font-size: large;
        border-style: double;
        border-width: 4px;
        border-radius: 10px;
        font-family: 'Grandstander', cursive;
    }

    #registerInput {
        position: relative;
        font-size: large;
        border-style: double;
        border-width: 4px;
        border-radius: 10px;
        font-family: 'Grandstander', cursive;
    }

    #settingsInput {
        position: relative;
        font-size: large;
        border-style: double;
        border-width: 10px;
        border-radius: 12px;
        font-family: 'Grandstander', cursive;
    }

    #storyInput {
        position: relative;
        font-size: large;
        border-style: double;
        border-width: 5px;
        border-radius: 5px;
        width: 35px;
    }

    #chatPFP{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-left: 10px;
        margin-right: 5px;
    }

    #profilePFP{
        width: 275px;
        height: 275px;
        border-radius: 100%;
        margin-top: 10px;
        border-width: 10px;
    }

    .chat-container {
        height: 400px;
        overflow-y: scroll;
        padding: 10px;
    }
    
    .chat-container::-webkit-scrollbar {
        width: 12px;
    }
    
    .chat-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
  }


@media (min-width: 992px) {
    #top-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border-radius: 2px;
        border-style: double;
        border-width: 2px;
    }
    
    #layoutA {
        border-style: double;
        border-width: 2px;
        cursor: pointer;
        padding: 8px 115px;
    }
    
    #loginA {
        font-size: large;
        border-style: double;
        border-width: 20px;
        border-radius: 24px;
        cursor: pointer;
    }
    
    #chatH1 {
        border-style: double;
        border-width: 0.5cm;
        width: 8cm;
        border-radius: 24px; 
        margin-left: 41%;
        padding-bottom: 1px;
    }
    
    #storyH1 {
        text-align: center;
    }
    
    #loginH1 {
        position: relative;
        font-size: 80px;
        text-align: center;
        border-style: double;
        width: 400px;
        border-radius: 24px;
        border-width: 18px; 
        margin-left: 38%;
        margin-top: 16%;
    }
    
    #registerH1 {
        position: relative;
        font-size: 80px;
        text-align: center;
        border-style: double;   
        width: 400px;
        border-radius: 24px;
        border-width: 18px; 
        margin-left: 38%;
        margin-top: 16%;
    }
    
    #settingsH1 {
        text-align: center;
        font-size: 35px;
    }
    
    #chatDiv{
        position: relative;
        width: 31.15cm;
        height: 16cm;
        margin-left: 17.25%;
        border-style: double;
        border-color: rgb(65, 173, 177);
        border-width: 20px;
        border-radius: 24px;
    }
    
    #listDiv{
        position: relative;
        width: 250px;
        height: 17cm;
        margin-left: 38%;
        margin-top: 7%;
        border-style: double;
        border-color: rgb(63, 51, 0);
        border-width: 20px;
        border-radius: 24px;
    }
    
    #profileDiv{
        position: relative;
        width: 400px;
        height: 17cm;
        margin-left: 35%;
        margin-top: 7%;
        text-align: center;
        border-style: double;
        border-color: rgb(65, 173, 177);
        border-width: 20px;
        border-radius: 24px;
    }
    
    #settingsDiv{   
        position: relative;
        width: 50%;
        height: 17cm;
        margin-left: 4%;
        margin-top: 7%;
        text-align: left;
        border-style: double;
        border-color: rgb(65, 173, 177);
        border-width: 20px;
        border-radius: 24px;
    }
    
    #settingsDivInsideDiv{
        margin: 15px;
    }
    
    #storyDiv{
        position: relative;
        width: 31.15cm;
        height: 4cm;
        margin-left: 17.25%;
        margin-top: 15%;
        border-style: double;
        border-width: 20px;
        border-radius: 24px;
    }
    
    .backendSubmit{
        margin-left: 75%;
    }
    
    .messageBox{
        margin-left: 20%;
        padding-right: 39%;
    }
    
    #loginForm {
        margin-left: 28%;
    }
    
    #registerForm {
        margin-left: 31.5%;
    }
    
    #chatInput {
        position: absolute;
        font-size: large;
        top:90%;
        border-style: double;
        border-width: 20px;
        border-radius: 24px;
        }
    
    #loginInput {
        position: relative;
        font-size: large;
        border-style: double;
        border-width: 20px;
        border-radius: 24px;
        font-family: 'Grandstander', cursive;
    }
    
    #registerInput {
        position: relative;
        font-size: large;
        border-style: double;
        border-width: 20px;
        border-radius: 24px;
        font-family: 'Grandstander', cursive;
    }
    
    #settingsInput {
        position: relative;
        font-size: large;
        border-style: double;
        border-width: 1px;
        border-radius: 0px;
        font-family: 'Grandstander', cursive;
    }
    
    #storyInput {
        position: relative;
        font-size: large;
        border-style: double;
        border-width: 5px;
        border-radius: 5px;
        width: 35px;
    }
    
    #chatPFP{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-left: 10px;
        margin-right: 5px;
    }
    
    #profilePFP{
        width: 275px;
        height: 275px;
        border-radius: 100%;
        margin-top: 10px;
        border-width: 10px;
    }
    
    .chat-container {
        height: 400px;
        overflow-y: scroll;
        padding: 10px;
    }
    
    .chat-container::-webkit-scrollbar {
        width: 12px;
    }
    
    .chat-container::-webkit-scrollbar-thumb {
        border-radius: 10px;    }

  }



.offensiveMessage{
	color: red;
}