body{
    background-image: url("../images/leaves.jpg");
}

h1{
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 0.5cm;
    width: 8cm;
    border-radius: 24px; 
    margin-left: 41%;
}

button {
    position: relative;
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 0.25cm;
    border-radius: 12px;
    cursor: pointer;
}

div{
    position: fixed;
    width: 31.15cm;
    height: 17cm;
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    margin-left: 17.25%;
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 0.5cm;
    border-radius: 24px;
    padding: 0.5cm;
}

input {
    position: absolute;
    font-size: large;
    margin-left: 17%;
    top:93%;
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 0.5cm;
    border-radius: 24px;
}

.backendSubmit{
    margin-left: 75%;
}

.messageBox{
    margin-left: 20%;
    padding-right: 39%;
}