body{
    background-image: url("assets/images/leaves.jpg");
}

h1{
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 0.5cm;
    width: 20cm;
    border-radius: 24px; 
    margin-top: 7.5cm;
    text-align: center;
    margin-left: 14.75cm;
    font-size: 2cm;
}

button {
    font-size: large;
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 0.5cm;
    border-radius: 24px;
    cursor: pointer;
    font-style: bold;
}

input {
    font-size: large;
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 0.5cm;
    border-radius: 24px;
}

.loginDiv {
    text-align: center;
}
