body{
    background-image: url("../images/leaves.jpg");
}

#chatH1{
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 0.5cm;
    width: 8cm;
    border-radius: 24px; 
    margin-left: 41%;
    padding-bottom: 1px;
}

#storyH1{
    text-align: center;
}

#layoutA {
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 10px;
    border-radius: 12px;
    cursor: pointer;
}

#chatDiv{
    position: fixed;
    width: 31.15cm;
    height: 17cm;
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    margin-left: 17.25%;
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 20px;
    border-radius: 24px;
}

#storyDiv{
    position: fixed;
    width: 31.15cm;
    height: 17cm;
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    margin-left: 17.25%;
    margin-top: 5%;
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 20px;
    border-radius: 24px;
}


.backendSubmit{
    margin-left: 75%;
}

.messageBox{
    margin-left: 20%;
    padding-right: 39%;
}

#chatInput {
    position: absolute;
    font-size: large;
    top:93%;
    background-color: rgb(163, 226, 138);
    color: rgb(0, 63, 0);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 20px;
    border-radius: 24px;
}

#storyInput {
    position: relative;
    font-size: large;
    background-color: rgb(163, 226, 138);
    color: rgb(163, 226, 138);
    border-style: double;
    border-color: rgb(0, 63, 0);
    border-width: 5px;
    border-radius: 5px;
    width: 35px;
}